/* Адаптация шапки сайта страницы */
@media (max-width: 1120px) {
    header {
        padding: 40px 50px 25px 50px;
    }
}

@media (max-width: 980px) {
    .nav {
        display: none;
        place-items: center;
        height: 430px;
    }
    
    .nav a {    
        display: block;
        text-align: center;
    }
    
    .nav a:first-child {
        margin-top: 50px;
        margin-left: 0px;
    }
    
    .nav .dropdown-content a {    
        text-align: left;
    }
    
    .nav .dropdown-content {
        left: 40%; 
        top: 40%;
    }

    header .burger {
        display: block;
    }

    header {
        padding: 30px 50px;
    }

    header .location, header .work-time, header .phone {
        display: none;
    }

    .nav .dropdown-content a:first-child {
        margin-left: 10px;
    }
}

/* Адаптация для блока Hero */
@media (max-width: 980px) {
    .hero {
        margin: 50px 50px;
    }

    .hero h1 {
        margin-left: 35px;
    }

    .hero a {
        margin-left: 40px;
    }
}

@media (max-width: 780px) {
    .hero {
        margin: 30px 15px;
    }
}

@media (max-width: 425px) {
    .hero h1 {
        width: 350px;
    }

    .hero a {
        margin-left: 30px;
    }

    .hero h1 {
        padding-bottom: 50px;
        font-size: 28px;
    }
}

/* Адаптация для блока с машинами */
@media(max-width: 980px) {
    .cars {
        padding: 10px 15px 25px 15px;
    }
}

/* Адаптация для блока с отзывами и преимуществами */
@media (max-width: 780px) {
    .reviews h1 {
        font-size: 32px;
    }
}

/* Адаптация для футера */
@media (max-width: 980px) {
    footer {
        display: grid;
        place-items: center;
        justify-content: center;
        padding: 50px 50px;
    }

    footer .block {
        margin-bottom: 55px;
    }

    footer .block:last-child {
        margin-bottom: 0;
    }

    footer h1 {
        color: red;
        font-size: 38px;
        margin-bottom: 55px;
    }
}